<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="CSS/signup.css">
</head>
<body>
    <p id="notification"></p>
    <section id="signUp">
        <label for="username">Username:</label>
        <input type="text" placeholder="username" id="username">
        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" placeholder="Password">
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" id="confirmPassword" placeholder="Re-Type password">
        <label for="fullName">Full Name:</label>
        <input type="text" name="fullName" id="fullName" placeholder="Full Name">
        <label for="phone">Phone:</label>
        <input type="tel" name="phone" id="phone" placeholder="+Country code phone number">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="example@example.com">
        <button id="signUpButton">Sign-up</button>
        <p>Have an account already, <a href="http://0.0.0.0:5123/login">Login</a></p>
    </section>
    <footer style="
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;">
        &copy; 2024 Shop-E. All rights reserved.
        <br>
        <a href="mailto:jimmycn03@gmail.com">Contact Developer</a>
    </footer>
    <script type="module" src="JS/signUp.js"></script>
</body>
</html>